.titulo {
  color: $blanco;
  font-size: 3em;
  font-weight: 700;
}

.articulo .titulo{
    font-weight: 300;
    letter-spacing: -1.5px;
}

.subtitulo {
  color: $blanco;
  font-size: 2.25em;
}

p {
  font-size: 16px;
  color: $blanco;
}

.parrafo {
  text-align: left;
  line-height: 1.5em;
  padding: 1em;
  border-radius: 12px;
  box-shadow: $sombra-delgada;
}

.texto-link {
  color: $azul;
  text-decoration: none;
}
.wo-decoration {
  text-decoration: none;
}

figcaption {
  text-align: center;
  margin-bottom: 10px;
  font-style: italic;
}
.t-left {
  text-align: left;
}
.t-right {
  text-align: right;
}
.t-center {
  text-align: center;
}

.black {
  font-weight: 900;
}
.bold {
  font-weight: 700;
}
.regular {
  font-weight: 400;
}
.light {
  font-weight: 300;
}

h1 {
  font-size: 87px;
  font-weight: 300;
  letter-spacing: -1.5px;
}
h2 {
  font-size: 54px;
  font-weight: 300;
  letter-spacing: -0.5px;
}
h3 {
  font-size: 43px;
  letter-spacing: 0px;
}
h4 {
  font-size: 31px;
  font-weight: 400;
  letter-spacing: 0.25px;
}
h5 {
  font-size: 22px;
  font-weight: 400;
  letter-spacing: 0px;
}
