
.titulo {
  color: $negro;
  font-size: 3em;
  font-weight: 700;
}
.subtitulo {
  color: $negro;
  font-size: 2.25em;
}

p {
  font-size: 16px;
}

.parrafo {
  text-align: left;
  line-height: 1.5em;
  padding: 1em;
  border-radius: 12px;
  box-shadow: $sombra-delgada;
}

.texto-link {
   color: $azul;
   text-decoration: none;
  }
  .wo-decoration{
    
    text-decoration: none;
}

.t-left {
  text-align: left;
}
.t-right {
  text-align: right;
}
.t-center {
  text-align: center;
}

.black {
  font-weight: 900;
}
.bold {
  font-weight: 700;
}
.regular {
  font-weight: 400;
}
.light {
  font-weight: 300;
}
