@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html {
  padding: 2em 4em;
  background: #cfcfcf;
}

$color-verde: #419d78;
$color-amarillo: #e0a458;
$color-rosa: #c04abc;
$text-color: #2d3047;
$bg-color-blanco: #f1f1f1;
$bg-color-gris: #cfcfcf;

.wrapper {
  border-radius: 12px;
  width: 100%;
  display: grid;
  // grid-gap: 5px;
  grid-template-areas: ' side contenido contenido contenido ';
  grid-template-columns: 0.25fr 1fr;

  // grid-template-rows: 50px 1fr 30px;
}

.side {
  grid-area: side;
  background: $color-verde;
  width: 100%;
  height: 100%;
  padding: 1em 0.5em;
  border-radius: 12px;

  .avatar {
    height: 10em;
    display: flex;
    justify-content: center;
    border-radius: 12px;
    img {
      height: 100%;
    }
  }
}

.content {
  border-radius: 12px;
  grid-area: contenido;
  background: $bg-color-blanco;
  padding: 1em;
}
.nav ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  list-style-type: none;
  padding: 1em 0 0 0.5em;
  a {
    font-size: 1.25em;
    color: $text-color;
    text-decoration: none;
    border-radius: 16px;
    width: 100%;
    margin: 0.5em 0;
    li {
      padding: .5em;
      position: relative;
      border-radius: 24px 0 0 24px;
      .icon {
        margin: 0 0.75em;
        font-size: 1.25em;
      }

      &:hover {
        background: $bg-color-blanco;
        &::after {
          position: absolute;
          content: '';
          width: 20px;
          height: 100%;
          right: -04%;
          top: 0;
          background: $bg-color-blanco;
        }
      }
    }
  }
}

.header {
  padding: 0.5em 1em;
  position: relative;
  font-size: 1.75em;
  &::before {
    position: absolute;
    content: '';
    width: 3em;
    height: 5px;
    background: $color-verde;
    bottom: 0;
    left: 1em;
    border-radius: 12px 0 0 12px;
  }
  &::after {
    position: absolute;
    content: '';
    width: 3em;
    height: 5px;
    background: $color-amarillo;
    bottom: 0;
    left: 2.5em;
    border-radius: 0 12px 12px 0;
  }
}
.titulo {
  color: $text-color;
}

.t-left {
  text-align: left;
}
.t-center {
  text-align: center;
}

.black {
  font-weight: 900;
}
.bold {
  font-weight: 700;
}
.regular {
  font-weight: 400;
}
.light {
  font-weight: 300;
}
