@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html {
  padding: 2em 2em;
  background: #cfcfcf;
  @media screen and (max-width: 550px) {
    padding: 1em .25em;
    
  }
}

$color-verde: #419d78;
$color-amarillo: #e0a458;
$color-naranja: #f79954;
$color-rosa: #c04abc;
$text-color: #2d3047;
$bg-color-blanco: #f1f1f1;
$bg-color-gris: #cfcfcf;

$sombra-linea: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
  rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
$sombra-grande: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
  rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

.wrapper {
  border-radius: 12px;
  width: 100%;
  display: grid;
  // grid-gap: 5px;
  grid-template-areas: ' side contenido contenido contenido ';
  grid-template-columns: 0.25fr 1fr;
  position: relative;

  // grid-template-rows: 50px 1fr 30px;
}

@media screen and (max-width: 800px) {
  .content {
    grid-area: contenido;
  }
  .wrapper {
    grid-template-areas: 'contenido contenido ';
  }
}
.side {
  grid-area: side;
  background: $bg-color-blanco;
  width: 100%;
  height: 100%;
  padding: 1em 0.75em;
  border-radius: 12px;
  border-right: 1px solid $bg-color-gris;

  .avatar {
    height: 10em;
    display: flex;
    justify-content: center;
    border-radius: 12px;
    img {
      height: 100%;
    }
  }
  @media screen and (max-width: 800px) {
    display: none;
  }
}

.content {
  grid-area: contenido;
  position: relative;
  border-radius: 12px;
  background: $bg-color-blanco;
  padding: 1em 1.25em;
  width: 100%;
}

nav ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  list-style-type: none;
  padding: 1em 0.5em;
  a {
    font-size: 1.25em;
    color: $text-color;
    text-decoration: none;
    border-radius: 16px;
    width: 100%;
    margin: 0.5em 0;
    li {
      padding: 0.5em 0;
      position: relative;
      border-radius: 24px;
      font-size: 1em;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      align-items: center;
      justify-content: start;
      .icon {
        margin: 0 0.75em;
        font-size: 1.25em;
      }

      &:hover {
        background: $color-verde;
        color: $bg-color-blanco;
      }
    }
  }
}
@media screen and (max-width: 1202px) {
  nav ul a li {
    flex-direction: column;
  }
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5em 0.2em;
  position: relative;
  margin-bottom: 0.5em;
  h2 {
    &::before {
      position: absolute;
      content: '';
      width: 1.8em;
      height: 5px;
      background: $color-verde;
      bottom: 0;
      left: 0.12em;
      border-radius: 12px 0 0 12px;
    }
    &::after {
      position: absolute;
      content: '';
      width: 1.2em;
      height: 5px;
      background: $color-amarillo;
      bottom: 0;
      left: 0.125em;
      border-radius: 0 12px 12px 0;
    }
  }
}

.parrafo {
  text-align: justify;
  line-height: 1.35em;
  padding: 1em;
  border-radius: 12px;
  box-shadow: $sombra-grande;
}

.resaltado {
  color: $color-rosa;
  font-weight: 700;
}

.titulo {
  color: $text-color;
  font-size: 1.75em;
}
.subtitulo {
  color: $text-color;
  font-size: 1.5em;
}

.t-left {
  text-align: left;
}
.t-right {
  text-align: right;
}
.t-center {
  text-align: center;
}

.black {
  font-weight: 900;
}
.bold {
  font-weight: 700;
}
.regular {
  font-weight: 400;
}
.light {
  font-weight: 300;
}
.container-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.card {
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 1em 2em;
  height: 12em;
  width: 12em;

  box-shadow: $sombra-linea;

  .icon {
    height: 50%;
    img {
      height: 100%;
    }
  }
  p {
    margin: 0.5em 0;
  }
}

.post {
  box-shadow: $sombra-linea;
  margin: 0.75em 0;
  width: 18em;
  border-radius: 12px;
  padding: 1em;
  color: $text-color;
  text-decoration: none;
  img {
    border-radius: 6px;
    width: 100%;
    filter: grayscale(100%);
    transition: ease-in-out filter 0.25s;
  }

  .fecha-post {
    font-size: 0.85em;
    text-align: center;
    margin-top: 0.75em;
    background: $color-verde;
    width: 45%;
    border-radius: 12px;
    padding: 0.45em;
    color: $bg-color-blanco;
  }
  .titulo-post {
    margin: 0.75em 0;
    font-size: 1.25em;
  }
  .resumen-post {
    font-size: 1em;
    color: #636468;
  }

  &:hover {
    box-shadow: $sombra-grande;
    img {
      filter: grayscale(0);
    }
  }
}

.imagen-post {
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    border-radius: 12px;
    width: 80%;
  }
}

.post-articulo {
  .fecha-post {
    display: inline-block;
    font-size: 1em;
    text-align: center;
    margin: 0.75em 0;
    background: $color-verde;
    border-radius: 6px;
    padding: 0.45em 2em;
    color: $bg-color-blanco;
  }

  .tag-post {
    display: inline-block;
    padding: 0.25em 1em;
    margin: 0 1em 0.25em 0;
    border-radius: 6px;
    color: $bg-color-blanco;
    background: $color-naranja;
    box-shadow: $sombra-linea;
  }

  .blog-post-content {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin: 2rem 0;
      color: $text-color;
      line-height: 1.3;
    }
    li,
    p {
      color: #1b1b1b;
      font-size: 1.05em;
    }
    p {
      text-align: justify;
      line-height: 1.75;
    }
    ol {
      padding-left: 1.5em;
      li {
        margin: 0.75em 0;
      }
    }
    a {
      color: #0d25da;
      font-weight: 600;
      :hover {
        color: #0d25da;
      }
    }
  }
}

.error-404-page {
  width: 50%;
  img {
    width: 100%;
  }
}

.menu-mobil {
  ul {
    flex-direction: row;
    a {
      .icon {
        display: none;
      }
    }
  }
  @media screen and (min-width: 800px) {
    display: none;
  }
  @media screen and (max-width: 1202px) {
    ul{
      margin: 0;
      padding: 0;
    }
    ul a li {
      justify-content: center;
      align-items: center;
      flex-direction: row;
    }
  }
  @media screen and (max-width: 600px) {
    ul a li {
      padding: 0;
      margin: 0;
      font-size: 0.75em;
    }
  }
  @media screen and (max-width: 320px) {
    ul a li {
      font-size: 0.5em;
    }
  }
}
