@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html {
  padding: 2em 2em;
  background: #252426;
}

$grisHover: #2d3236;

$azul: #39ace7;
$verde: #1c9083;
$amarillo: #e0a458;
$naranja: #f79954;
$rosa: #c04abc;
$negro: #2d3047;
$blanco: #f1f1f1;
$gris: #cfcfcf;
$fondoNegro: #282d35;

// $sombra-delgada: #32325d40 0px 2px 5px -1px, #0000004d 0px 1px 3px -1px;
// $sombra-grande: #32325d40 0px 6px 12px -2px, #0000004d 0px 3px 7px -3px;

$sombra-delgada: #4961744d 0px 1px 2px 0px, #5a6f8046 0px 1px 3px 1px;
// $sombra-delgada: #bee4fa7a 0px 2px 5px -1px, #bbd3fa4d 0px 1px 3px -1px;
$sombra-grande: #32325d40 0px 6px 12px -2px, #0000004d 0px 3px 7px -3px;

.layout {
  margin: 0 auto;
  border-radius: 12px;
  max-width: 1400px;
  width: 100%;
  display: grid;
  grid-template-areas: ' aside contenido contenido contenido ';
  grid-template-columns: 0.25fr 1fr;
  position: relative;
}

aside {
  grid-area: aside;
  background: $fondoNegro;
  width: 100%;
  height: 100%;
  padding: 1em 0.75em;
  border-radius: 12px 0 0 12px;
  border-right: 1px solid $gris;
  position: relative;

  .autor .avatar {
    height: 10em;
    display: flex;
    justify-content: center;
    border-radius: 12px;
    img {
      height: 100%;
    }
  }
}

.layout-section {
  grid-area: contenido;
  position: relative;
  border-radius: 0 12px 12px 0;
  background: $fondoNegro;
  padding: 1em 1.25em;
  width: 100%;
}

nav ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 1em 0.5em;
  a {
    font-size: 1.25em;
    color: $blanco;
    text-decoration: none;
    border-radius: 16px;
    width: 100%;
    margin: 0.5em 0;
    li {
      padding: 0.5em 0;
      position: relative;
      border-radius: 6px;
      font-size: 1em;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      align-items: center;
      justify-content: start;
      transition: all ease-in-out 0.3s;
      .icon {
        margin: 0 0.5em;
        font-size: 1.25em;
      }

      &:hover {
        background: $verde;
        color: $blanco;
      }
    }
  }
}

.header {
  margin-bottom: 0.5em;
  padding: 0.5em 0.2em;
  position: relative;

  &::before,
  &::after {
    bottom: 0;
    content: '';
    position: absolute;
  }
  &::before {
    background: $verde;
    border-radius: 12px 0 0 12px;
    height: 5px;
    left: 1.5em;
    width: 3.8em;
  }
  &::after {
    background: $amarillo;
    border-radius: 0 12px 12px 0;
    height: 5px;
    left: 0.125em;
    width: 1.5em;
  }
}

.container-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.card-simple {
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 1em 2em;
  height: 12em;
  width: 12em;
  box-shadow: $sombra-delgada;
  .icon {
    height: 50%;
    img {
      height: 100%;
    }
  }
  p {
    margin: 0.5em 0;
  }
}
.link-contacto {
  color: $blanco;
  text-decoration: none;
  .card-simple {
    &:hover {
      background: $grisHover;
    }
  }
}

.card-articulo {
  box-shadow: $sombra-delgada;
  border-radius: 12px;
  color: $blanco;
  margin: 0.75em 0;
  padding: 1em;
  width: 18em;
  img {
    box-shadow: $sombra-delgada;
    border-radius: 6px;
    width: 100%;
    transition: ease-in-out filter 0.45s;
  }

  .card-articulo-fecha {
    font-size: 0.85em;
    text-align: center;
    margin-top: 0.75em;
    background: $verde;
    width: 45%;
    border-radius: 12px;
    padding: 0.45em;
    color: $blanco;
  }
  .card-articulo-titulo {
    margin: 0.75em 0;
    font-size: 1.25em;
    transition: ease-in-out color 0.25s;
  }
  .card-articulo-resumen {
    font-size: 1em;
    color: #c2c2c2;
  }

  &:hover {
    background: $grisHover;
    .card-articulo-titulo {
      color: $azul;
    }
  }
  &:active {
    transform: scale(0.9);
  }
}

.imagen-articulo {
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    box-shadow: $sombra-delgada;
    border-radius: 6px;
    width: 100%;
  }
}

.articulo {
  // margin: 1em;
  img {
    border-radius: 3px;
    max-width: 100%;
    width: auto;
    box-shadow: $sombra-grande;
    // box-shadow: $sombra-delgada;
  }
  .fecha-articulo {
    display: inline-block;
    font-size: 1em;
    text-align: center;
    margin: 0.75em 0;
    background: $verde;
    border-radius: 6px;
    padding: 0.45em 2em;
    color: $blanco;
  }

  .tag-articulo {
    display: inline-block;
    padding: 0.25em 1em;
    margin: 1em;
    margin-left: 0;
    border-radius: 6px;
    color: $blanco;
    background: $naranja;
    box-shadow: $sombra-delgada;
  }
  figcaption {
    color: $blanco;
  }
  .contenido-articulo {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin: 1.25rem 0;
      color: $blanco;
      // line-height: 1.3;
    }
    li,
    p {
      color: $blanco;
      font-size: 1.05em;
    }
    p {
      line-height: 1.75;
    }
    ol,
    ul {
      padding-left: 1.5em;
      li {
        margin: 0.75em 0;
      }
    }
    a {
      background: #39ade767;
      border-bottom: 1px solid $azul;
      text-decoration: none;
      font-style: italic;
      font-weight: 600;
      padding: 0 4px;
      color: $blanco;
      &:hover {
        text-decoration: underline;
        background: #2892c7bd;
      }
    }
    table {
      border-collapse: collapse;
      th {
        font-size: 1.25em;
        border-bottom: 2px solid #cecece;
      }
      tr {
        td {
          margin: 6px;
          font-size: 1.15em;
          padding: 6px;
        }
        &:nth-child(even) {
          background: #cececeaf;
        }
      }
    }
  }
}

.error-404-page {
  width: 50%;
  img {
    width: 100%;
  }
}

.menu-mobil {
  ul {
    flex-direction: row;
    a {
      .icon {
        display: none;
      }
      li {
        margin: 0 12px;
        border-radius: 0;
        border-bottom: 3px $blanco solid;
      }
      li:hover {
        color: $blanco;
        background: none;
        border-bottom: 3px $verde solid;
      }
    }
  }
}
@import 'mediaQuery';
@import 'texto';
